body{
    margin: 0px;
    border: none;
    
}
.one{
    margin: 0%;
    border: none;
    border-color: rgb(16, 27, 27);
}


header{
    color:rgb(119, 236, 168) ;
    width: 100%;
    height: 100px;
    font-size: 80px ;
    padding-left: 70px;
    background-color: rgb(92, 116, 108);
    position:fixed;
    z-index: 1;
}
h1{
    position:absolute;
     top: 75%;
     left: 35%;
     background-color: rgb(121, 187, 146);
     border-radius: 85px;
     padding: 7%;
     color: rgb(255, 253, 253);
     font-style:normal;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}  
.two{
   width: 100%;
   border: none;
}

 footer{
    background-color: black;
    padding: 25px;
 }   
li{
    color:azure;
    font-size: 25px;
    justify-content: center;
}
h3{
    color: azure;
   padding-left: 85px;
}
input{
    color: black;
    padding-left: 35px;
    font-size:medium;  
}

   


    
